<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Full name</label>
    <p class="form-control-static">{{ details?.name }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Email</label>
    <p class="form-control-static">{{ details?.email }}</p>
  </div>
  <p>You can see our wine list here <a routerLink="/wines">Our Wines</a></p>
  <p>Your orders list here <a [routerLink]="['/orders', details._id]">Orders</a></p>
</div>
</body>
</html>
